.container {
  max-width: 96rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

.inlineContainer {
  display: flex;
  justify-content: end;
}

.star--filled {
  color: #000;
}

.star--empty {
  color: #000;
}

