.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorSubcontainer,
.skuSelectorContainer {
  margin: 0;
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }
  .label {
     font-size: 40px;
  }
  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }
  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }
  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}

.image {
  image-rendering: -webkit-optimize-contrast;
}

.logoContainer {
  padding: 0;
  margin: 0;
  display: block;
  max-width: unset;
  max-height: unset;
  min-width: unset;
}

.searchBarContainer {
  padding: 0.938rem 0 0;
  width: calc(100vw - 3rem);
}

@media screen and (min-width: 1025px) {
  .searchBarContainer {
    max-width: 214px;
    margin: auto 22px auto auto;
    padding: 0;
  }

  .sizeDesktop {
    margin-right: 1rem;
  }
}

.autoCompleteOuterContainer :global(.vtex-input-prefix__group) {
  border: 1px solid #828282;
}

.searchIcon {
  display: none;
}

.searchBarIcon--search::after  {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='16' viewBox='0 0 17 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.76092 0C10.1268 0 12.8557 2.68661 12.8557 6.00004C12.8557 9.31347 10.1268 11.9999 6.76092 11.9999C3.39509 11.9999 0.666016 9.31347 0.666016 6.00004C0.666016 2.68661 3.39509 0 6.76092 0ZM2.18974 6.00007C2.18974 8.48153 4.24015 10.4999 6.76086 10.4999C9.28149 10.4999 11.3321 8.48153 11.3321 6.00007C11.3321 3.51861 9.28149 1.50008 6.76086 1.50008C4.24015 1.50008 2.18974 3.51861 2.18974 6.00007Z' fill='%23515151'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.4724 13.4396L13.8127 10.821C13.2601 10.2769 12.3495 10.3808 11.7985 10.9266C11.2369 11.4831 11.1277 12.42 11.6911 12.9747L14.3179 15.5606C14.9132 16.1465 15.8784 16.1465 16.4724 15.5606C17.0678 14.9756 17.0677 14.0254 16.4724 13.4396Z' fill='%23515151'/%3E%3C/svg%3E");
}

.imageElement--news_imgs {
  border-radius: 5px;
}

.imageElement--home-news {
  width: 100%;
  height: 410px;
  object-fit: cover;
  max-width: 1482px;
  display: flex;
  margin: auto;
}

.skuSelectorSubcontainer--tamanho {
  display: none;
}

.skuSelectorName {
  display: none;
}

.skuSelectorItemImage {
  width: 15.168px;
  height: 15.168px;
}

@media screen and (min-width: 1025px) {
  .skuSelectorItemImage {
    width: 30px;
    height: 30px;
  }
}

.skuSelectorOptionsList {
  display: flex;
  justify-content: center;
  margin: 0;
}

@media screen and (min-width: 1025px) {
  .skuSelectorOptionsList {
    margin: 0 0 10px;
  }
}