.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround, .skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 100%;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  }
}

.nameContainer {
  justify-content: start;
  padding: 0;
}

.brandName {
  color: #000;
  font-family: Exo;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

@media screen and (min-width: 1025px) {
  .brandName {
    font-size: 18px;
  }
}

.container {
  text-align: start;
}

.imageContainer {
  text-align: center;
}

.image {
  border-radius: 0.25rem;
}

.containerNormal {
  max-height: 454px;
}

@media screen and (min-width: 1025px) {
  .containerNormal {
    max-height: unset;
    max-width: 377px !important;
  }
}

.element :global(.vtex-flex-layout-0-x-flexRowContent) {
  margin: 0;
}

.element :global(.vtex-stack-layout-0-x-stackContainer) {
  background: #F3F3F3;
}

.clearLink {
  text-decoration: none;
  position: relative;
}


.skuSelectorInternalBox {
  border-radius: 100%;
}

.SKUSelectorContainer {
  min-height: 51.16px;
  position: absolute;
  width: 100%;
  bottom: 126px;
}

@media screen and (min-width: 1025px) {
  .SKUSelectorContainer {
    min-height: 60px;
  }
}

.frameAround {
  border-radius: 100%;
}

.nameWrapper {
  margin: 9px 0 5px;
}

.imageNormal {
  mix-blend-mode: multiply;
  max-height: 150px !important;
}

@media screen and (min-width: 1025px) {
  .imageNormal {
    max-height: 296px !important;
  }
}